.homePageWrapper {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.formWraper {
    background: #282a36;
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    max-width: 90%;
}

.homePageLogo {
    height: 80px;
    margin-bottom: 30px;
}

.inputGroup {
    display: flex;
    flex-direction: column;
    padding-top: 0;
}

.inputBox {
    padding: 10px;
    border-radius: 5px;
    outline: none;
    border: none;
    margin-bottom: 14px;
    background: #eee;
    font-size: 16px;
    font-weight: bold;
}

.mainLabel {
    margin-bottom: 20px;
}

.joinBtn {
    background: #4aed88;
    width: 100px;
    margin-left: auto;
}

.joinBtn:hover {
    background: #2b824c;
}

.createInfo {
    margin: 0 auto;
    margin-top: 20px;
}

.createNewBtn {
    cursor: pointer;
    color: #4aed88;
    text-decoration: none;
    border-bottom: 1px solid #4aed88;
    transition: all 0.3s ease-in-out;
}

footer {
    position: fixed;
    bottom: 0;
}

footer a {
    color: #4aee88;
}

.createNewBtn:hover,
footer a:hover {
    color: #368654;
    border-color: #368654;
}